<!-- adds footer to page and link to bottom of page -->
<!-- <div id="footerBar" class='container'> <div class='row col-lg-12 center-block'>
  <a class="col-lg 3" href="http://www.coppercolorado.com/">Copper Mountain</a>
  <a class="col-lg 3" href="http://www.co.summit.co.us/">Summit County</a>
  <a class="col-lg 3" href="http://www.steamboat.com/">Steamboat</a>
  <a class="col-lg 3" href="http://www.cotrip.org/home.htm">Road Conditions</a>
</div>
</div> -->

<div id="footerBar">
  <ul class="nav navbar-default  navbar-fixed-bottom">
    <li class="active"></li>
    <li><a href="http://www.coppercolorado.com/">Cxxxxx Mxxxxxxx</a></li>
    <li><a href="http://www.co.summit.co.us/">Sxxxxx Cxxxxxx</a></li>
    <li><a href="http://www.steamboat.com/">Sxxxxxxxx Sxxxxxx</a></li>
    <li><a href="http://www.cotrip.org/home.htm">Rxxx Cxxxxxxxxx</a></li>
  </ul>
</div>

<!-- <div id="footerBar">
  <nav class="nav navbar-default  navbar-fixed-bottom">
  <ul>
    <li class="active"></li>
    <li><a href="http://www.coppercolorado.com/">Cxxxxx Mxxxxxxx</a></li>
    <li><a href="http://www.co.summit.co.us/">Sxxxxx Cxxxxxx</a></li>
    <li><a href="http://www.steamboat.com/">Sxxxxxxxx Sxxxxxx</a></li>
    <li><a href="http://www.cotrip.org/home.htm">Rxxx Cxxxxxxxxx</a></li>
  </ul>
  </nav>
</div> -->


