<!-- header controlls for logo and page title -->
<header class='col-lg-12 mainPage'>
  <img src="../public/img/ski-black-hi.png" />
  <h1>Ski Trax</h1>
  <aside class="col-lg-3 right">
    <p>Current Temperature at Copper: 28°</p>
    <p>Current Temperature at Steamboat: 34°</p>
  </aside>
</header>
<div class="clear"></div>

<!-- ski passes -->
<nav class='container'>
  <div class='row'>

  <a ng-href='/#/newtrax'>
    <h1>New Trax</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Enter a new day of skiing!</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>Mountain Pass</h3>
  </a>

  <a ng-href='/#/photos'>
    <h1>Photos</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Look at the photos &ndash; remember the day.</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>All Access</h3>
  </a>

  <a ng-href='/#/search'>
    <h1>Log</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Click here for: most snow, highest rating, people I skied with, and more.</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>Mountain Pass</h3>
  </a>
  </div>
</nav>

<!-- blog -->
<h3>Outside the Slopes</h3>

<section class='container blog'>
  <div class='row'>
       <article class='col-lg-6'>
        <img src="../public/img/imgres-5.jpg"/>
        <h3>November 4</h3>
        <p>Alane and I bought our ski passes for the year. We got the four-pack to Copper which gets us a 5th day free and we bought a three-pack to Steamboat. We're planning on going for a long weekend with Kirk and Sue sometime in February. We've got a great condo all booked up. It's a three bedroom place that's plenty big enough for the four of us and it's right on the mountain so we'll be able to ski-in and ski-out. The kitchen is huge and fully stocked so we'll be able to have a beer or two on the mountain and then come back to cook up a nice dinner.</p>
       </article>
       <article class='col-lg-6'>
       <img src="../public/img/warren_miller.jpg"/>

        <h3>November 8</h3>
        <p>Alane and I met up with the Martins tonight for our annual Warren Miller movie at the Paramont. It's always a crazy atmosphere and there is a ton of energy in the room. We started off by getting our magazine handout which has the free offers plus the form which gets "one lucky couple" a two-night stay in Summit County. None of us won. After a beer and people watching in the lobby we took our seats and hooped and hollerd with everyone else in the theatre watching crazy people doing crazy things on the mountain. Bring on the snow!</p>
       </article>
  </div>
      <div class='row'>
       <article class='col-lg-6'>
        <img src="../public/img/snow-restaurant-mountains-sky.jpg"/>
        <h3>November 29</h3>
        <p>I went up to Cooper today. Last year I waited for the <i>perfect</i> day to go and they never came, so I decided to go today. Typically, Thanksgiving weekend isn't a great time to go because their isn't much snow and it tends to be crowded. That was the case today. Snow: not so great. Crowds: too many people. I've got to do everything I can to not ski on the weekends this year. Even if the conditions aren't great, weekday skiing will always beat weekend skiing. </p>
       </article>

       <article class='col-lg-6'>
        <img src="../public/img/cross_country.jpg"/>
        <h3>December 5</h3>
        <p>Kirk and I drove up to Frisco today to do some cross country skiing. What a gorgous day for it. We ran into traffic more than either of us would like along I-70 but we were both relaxed enough about it that it didn't get in the way. There was just enough chill in the air that the trails at the Nordic Center felt great. We both were able to keep warm but we didn't ever get too hot. After a couple of hours skiing, we both agreed that it was time to go. On our way back home we stopped at El Rancho for a beer and I showed him around the ol homestead.</p>
       </article>
      </div>
  </section>

