<header class='col-lg-12 mainPage'>
  <img src="../public/img/ski-black-hi.png" />
  <h1>Your Website</h1>
  <aside class="col-lg-3 mainPage">
    <p>Weather Widget</p>
  </aside>
</header>

<nav class='container'>
  <div class='row'>

  <a ng-href='/#/newtrax'>
    <h1>New Trax</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Enter a new day of skiing!</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>Mountain Pass</h3>
  </a>

  <a ng-href='/#/photos'>
    <h1>Photos</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Look at the photos &ndash; remember the day.</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>All Access</h3>
  </a>

  <a ng-href='/#/search'>
    <h1>Log</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Click here for: most snow, highest rating, people I skied with, and more.</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>Mountain Pass</h3>
  </a>
  </div>
</nav>

<h3>Outside the Slopes</h3>

<section class='container blog'>
  <div class='row'>
       <article class='col-lg-6'>
        <img src="../public/img/imgres-5.jpg"/>
        <h3>November 4</h3>
        <p>Alane and I bought our ski passes for the year. We got the four-pack for Copper which gets us a 5th day free and we bought a three-pack for Steamboat. We're planning on going for a long weekend with Kirk and Sue sometime in February. We've talked about staying at the same condo where we were on July 4th. It's a three bedroom place that's plenty big enough for the four of us and it's right on the mountain so we'll be able to ski-in and ski-out. </p>
       </article>
       <article class='col-lg-6'>
       <img src="../public/img/warren_miller.jpg"/>
        <h3>November 8</h3>
        <p>We got our skies for the year. We decided to rent them again and I think that's the right thing to do. I get the Demo package which allows me to try different skies throughout the year and we can get the tuned whenever we want. Financially, it's a pretty good move if you consider that we'd probably buy new equipment every four to five years. We are thinking of buying boots next year. Not only will that save us some money but it guarantees a comfortable fit all season long.</p>
       </article>
  </div>
      <div class='row'>
       <article class='col-lg-6'>
        <img src="../public/img/snow-restaurant-mountains-sky.jpg"/>
        <h3>November 29</h3>
        <p>I went up to Cooper today. Last year I waited for the 'perfect' days to go and they never came, so I decided to go today. Typically, Thanksgiving weekend isn't a great time to go because their isn't much snow and it tends to be crowded. That was the case today. Snow: not so great. Crowds: too many people. I've got to do everything I can to not ski on the weekends this year. Even if the conditions aren't great, weekday skiing will always beat weekend skiing. </p>
       </article>
       <article class='col-lg-6'>
        <img src="../public/img/theme-knolling-st-cergue-ski.jpeg"/>
        <h3>December 7</h3>
        <p>Hiring Day is tomorrow and then there's only one more week left of gSchool. That means I'll have some free time to ski! </p>
       </article>
      </div>
  </section>

