<header class='col-lg-12'></header>

<nav class='container'>
  <div class='row'>

  <a ng-href='/#/newtrax'>
    <h1>New Trax</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Enter a new day of skiing!</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>Mountain Pass</h3>
  </a>

  <a ng-href='/#/photos'>
    <h1>Photos</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Look at the photos &ndash; remember the day.</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>All Access</h3>
  </a>

  <a ng-href='/#/search'>
    <h1>Search</h1>
    <img src='../public/img/cold-snow-winter-mountain.jpeg'/>
    <p>Click here for: most snow, highest rating, people I skied with, and more.</p>
    <img class='barcode' src='../public/img/barcode.png'/>
    <h3>Mountain Pass</h3>
  </a>
  </div>
</nav>


<div class='container'>
  <div class='row'>
       <article class='col-lg-6'>
          <h3>Article1</h3>
          <p>A7 ah, ah all my loving, all my loving beatles - live concert at hollywood bowl bloody jump up now! but they've guaranteed to raise a smile didn't anybody tell her? don't let him steal your heart away go with him (anna) go with him (anna) has left a pool of tears crying for the day i can't forget that you told me i me mine, i me mine i said we're trav'ling on the one after 909 let me take you down listen can't you see monday morning, turning back saying: johnny well work it on out, honey why don't we do it in the road? mm.</p>
       </article>
       <article class='col-lg-6'>
          <h3>Article2</h3>
          <p>A7 ah, ah all my loving, all my loving beatles - live concert at hollywood bowl bloody jump up now! but they've guaranteed to raise a smile didn't anybody tell her? don't let him steal your heart away go with him (anna) go with him (anna) has left a pool of tears crying for the day i can't forget that you told me i me mine, i me mine i said we're trav'ling on the one after 909 let me take you down listen can't you see monday morning, turning back saying: johnny well work it on out, honey why don't we do it in the road? mm.</p>
       </article>
  </div>
      <div class='row'>
       <article class='col-lg-6'>
          <h3>Article3</h3>
          <p>A7 ah, ah all my loving, all my loving beatles - live concert at hollywood bowl bloody jump up now! but they've guaranteed to raise a smile didn't anybody tell her? don't let him steal your heart away go with him (anna) go with him (anna) has left a pool of tears crying for the day i can't forget that you told me i me mine, i me mine i said we're trav'ling on the one after 909 let me take you down listen can't you see monday morning, turning back saying: johnny well work it on out, honey why don't we do it in the road? mm.</p>
       </article>
       <article class='col-lg-6'>
          <h3>Article4</h3>
          <p>A7 ah, ah all my loving, all my loving beatles - live concert at hollywood bowl bloody jump up now! but they've guaranteed to raise a smile didn't anybody tell her? don't let him steal your heart away go with him (anna) go with him (anna) has left a pool of tears crying for the day i can't forget that you told me i me mine, i me mine i said we're trav'ling on the one after 909 let me take you down listen can't you see monday morning, turning back saying: johnny well work it on out, honey why don't we do it in the road? mm.</p>
       </article>
      </div>
  </div>

