<!-- header controlls for logo and page title -->
<header class='col-lg-12 photosPage'>
  <img src="../public/img/ski-black-hi.png" />
  <h1>Photo Gallery</h1>
  <aside class="col-lg-3 right">
    <!-- <p>Current Temperature at Copper: 23°</p>
    <p>Current Temperature at Steamboat: 16°</p> -->
  </aside>
</header>
<div class="clear"></div>

<div class="container">
  <div class="row breadcrumbs">
    <a href="main_page.html">Home</a>
    <p>» Photos</p>
  </div>

<!-- photos are hard coded -->
<section class="photosPage">
  <h3>December</h3>

  <a href="./public/img/family_photos/ski1.jpg">
    <div class='crop'>
    <!-- REMOVE DIV CLASS CROP ALL THE WAY THROUGH -->
      <img src="./public/img/family_photos/ski1.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski2.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski2.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski3.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski3.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski4.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski4.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski5.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski5.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski6.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski6.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski7.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski7.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski8.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski8.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski9.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski9.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski10.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski10.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski11.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski11.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski12.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski12.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski13.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski13.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski14.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski14.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski15.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski15.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski16.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski16.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski17.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski17.jpg"/>
    </div>
  </a>

  <a href="./public/img/ski18.jpg">
    <div class='crop'>
      <img src="./public/img/family_photos/ski18.jpg"/>
    </div>
  </a>
  </div>
</section>



