<header class='col-lg-12 searchPage'>
  <img src="../public/img/ski-black-hi.png" />
  <h1>Log</h1>
  <aside class="col-lg-3 searchPage">
      <div class="rowSearch">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" ng-model="query">
      </div>
  </aside>
</header>

<div class="container">

    <div class="row" ng-repeat='day in daysArray | filter:query'>
        <div style='background-color: yellow;'>
        <div class="form-group pull-left col-sm-6">

            <div class="row">
              <h5 class="col-sm-6 control-label" >Date</h5>
              <div class="col-sm-6">
                <h5>{{day.date}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">First Chair</h5>
              <div class="col-sm-6">
                <h5>{{day.firstChair}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Mountain</h5>
              <div class="col-sm-6">
                <h5>{{day.mountain}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Amount of New Snow</h5>
              <div class="col-sm-6">
                <h5>{{day.newSnow}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Who I skied with</h5>
              <div class="col-sm-6">
                <h5>{{day.skiedWith}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Notes</h5>
              <div class="col-sm-6">
                <h5>{{day.notes}}</h5>
              </div>
            </div>

        </div>

        <div class="form-group pull-left col-sm-6">
            <div class="row">
              <h5 class="col-sm-6 control-label" >Temperature</h5>
              <div class="col-sm-6">
                <h5>{{day.temperature}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Last Chair</h5>
              <div class="col-sm-6">
                <h5>{{day.lastChair}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Snow Conditions</h5>
              <div class="col-sm-6">
                <h5>{{day.conditions}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Number of Runs</h5>
              <div class="col-sm-6">
                <h5>{{day.numRuns}}</h5>
              </div>
            </div>

            <div class="row">
              <h5 class="col-sm-6 control-label">Rating</h5>
              <div class="col-sm-6">
                <h5>{{day.rating}}</h5>
              </div>
            </div>
        </div>
        <hr>
        </div>
      </div>
  </div>
