/******************************/
/*          Global            */
/******************************/

/* body spacing above margin */
body {
  padding-bottom: 100px;
}

/* bottom wording - Ski Pass*/
h3 {
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.clear {
  clear: both;
}


/******************************/
/*          Header            */
/******************************/


/* background photo */
header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* background photo - Main Page */
header.mainPage {
  /*border: solid thin red;*/
  height: 550px;
  background-image: url("../img/coppermtn2.jpg");
  padding: 25px;
  background-position: 0 -100px;
}

/* background photo - New Trax Page */
header.newTraxPage {
  height: 350px;
  background-image: url("../img/newtrax.jpg");
  background-position: 0 -100px;
}

/* background photo - Photos Page */
header.photoGallery {
  height: 350px;
  background-image: url("../img/newtrax.jpg");
  background-position: 0 -100px;
}

/* background photo - Search Page */
header.searchPage {
  height: 350px;
  background-image: url("../img/cold-snow-winter-mountain.jpeg");
  background-position: 0 -100px;
}

/* weather widget area - Main Page */
header aside.mainPage {
  border: solid thin yellow;
  float: right;
}

/* logo - Main Page */
header.mainPage img {
  width: 180px;
  display: inline-block;
}

/* title - Main Page */
header.mainPage h1 {
  display: inline-block;
}

/* search box - Log Page */
header aside.logPage {
  float: right;
  color: white;
}


/******************************/
/*         Main Page          */
/******************************/


/* h1 - Main Page */
header.mainPage h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-variant: small-caps;
}

/* ski passes - Main Page */
nav {
  position: relative;
  top: -150px;
  margin-bottom: -100px;

 /* Flexbox effecting nested elements */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ski passes - Main Page */
nav a {
  border: solid thin black;

  display:inline-block;
  background-color: lightgray;
  width: 260px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 0 9px 7px gray;

  margin: 0 25px 25px;
  text-align: center;
  color: inherit;

  transform: rotate(15deg);
}

/* ski passes - Main Page */
nav a:hover {
  color: inherit;
  text-decoration: none;
  transform: rotate(0deg);
}

/* blog image - Main Page*/
nav img {
  width: 100px;
}

/* blog paragraph - Main Page */
nav p {
  /*border: solid thin yellow;*/
  height: 75px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 8px;
}

/* blog post - Main Page */
section.container.blog {
  border: solid thin green;
  background-color: lightblue;
}

/* blog post - Main Page */
section.container.blog .row {
  padding: 25px;
}

/* blog post - Main Page */
section.container.blog .row article {
  padding: 25px;
}

/* blog post - Main Page */
section.container.blog img {
  height: 325px;
}


/******************************/
/*          New Trax          */
/******************************/


/* schema titles - New Trax Page*/
.control-label {
  font-size: 14px;
}

/* submit button - New Trax Page*/
.newTraxBtn {
  position: fixed;
  bottom: 120px;
  right: 165px;
}

/* h1 & h4 - New Trax Page */
form[ng-submit="createNewTrax(newTrax) newTraxPage"] h1,
form[ng-submit="createNewTrax(newTrax) newTraxPage"] h4 {
  text-align: center;
}

/* schema data margin - New Trax Page */
.newTrax {
  margin-top: 60px;
}


/******************************/
/*           Photos           */
/******************************/

/*body {
  background: #B3BABF;
}*/


section.photoGallery a {
  text-decoration: none;
}

div.crop {
  border: 15px solid white;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  width: 300px;

  position: absolute;
}

a:first-child div {
  transform: rotate(-15deg);
  z-index: 1;
}

a:nth-child(2) div {
  transform: rotate(15deg);
  z-index: 2;
}

a:last-child div {
  z-index: 3;
}

img {
  width: 100%;
}


/******************************/
/*    Search Page (Log Page)  */
/******************************/


/* search box - Search Page */
input {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 150px;
  /*outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: thin;*/
}​


/* search glyphicon - Search Page */
/*.glyphicon-search::before {
  border: solid thick white;
  position: relative;
  top: 50px;
  left: 445px;
}*/


.searchInfo {
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
  font-variant: small-caps;
}

/* logo - Search Page */
header.searchPage img {
  width: 180px;
  display: inline-block;
  margin-top: 25px;
}


/* title - Search Page */
header.searchPage h1 {
  display: inline-block;
}

/* search bar - Search Page */
header aside.searchPage {
  float: right;
}

/* search glyphicon - Search Page */
.glyphicon {
  top: 45px;
  padding: 20px;
  color: white;
  font-size: 17px;
}

header.searchPage h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-variant: small-caps;
}

/******************************/
/*          Footer            */
/******************************/


#footerBar {
  height: 50px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-image: url("../img/images.jpg");
  background-repeat: repeat;
  background-size: initial;
}

#footerBar a {
  margin: 0 55px;
  color: white;
  font-weight: bold;
  /*border: solid thin yellow;*/
}

/*width: 100%;
  height: 550px;
  background-image: url("../img/imgres-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/

